.main-header
    display: flex
    justify-content: space-between
    width: 100%
    height: 80px
    box-sizing: border-box
.category-links
    display: flex
    justify-content: center
    align-items: center
    height: 80px
.nav-btn
    text-decoration: none
    font-family: Raleway
    text-transform: uppercase
    font-weight: 600
    padding: 30px 17px
    font-size: 16px
    text-align: center
    color: #1D1F22
.nav-btn-active
    color: #5ECE7B
    border-bottom: 2px solid #5ECE7B
    box-sizing: border-box
.hdr-icons-c
    display: flex
    width: 204px
    justify-content: flex-end
    align-items: center
.hdr-icon-c
    margin-top: 6px
    display: flex
    margin-left: 20px
.hdr-switcher
    margin-left: 10px
.hdr-currency
    font-weight: 500
    font-size: 21px
.hdr-logo-c
    margin-top: 8px
    padding-right: 42px
    display: flex
    justify-content: center
    align-items: center