.product-content-c
    margin: 80px 0
    display: flex
.product-pdp-imgs-c
    width: 80px
    height: 511px
    overflow: scroll
    overflow-x: hidden
.product-pdp-img-c
    width: 80px
    height: 80px
    overflow: hidden
    margin-bottom: 40px
    img
        width: 100%
        cursor: pointer
    &:last-child
        margin-bottom: 0px
.main-pdp-img-c
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin-left: 40px
    width: 610px
    height: 511px
    overflow: hidden
    img
        width: 100%

::-webkit-scrollbar 
    width: 3px

::-webkit-scrollbar-thumb 
    background: #53D97C

::-webkit-scrollbar-track 
    background: #FFF

.product-pdp-info-c
    margin-left: 100px
    line-height: 45px
.name-pdp
    font-family: Raleway
    font-size: 27px
    font-weight: 700
.brand-pdp
    font-family: Raleway
    font-size: 30px
    font-weight: normal
.all-atr-inf-pdp-c
    display: flex
    flex-direction: column
    margin: 25px 0
.atr-and-inf-pdp-c
    display: flex
    flex-direction: column
    user-select: none
.atr-pdp-c
    position: relative
    display: flex
    justify-content: left
    flex-direction: row
    width: calc(100% + 36px)
.atr-pdp-name
    font-weight: bold
    font-family: 'Roboto Condensed'
    font-size: 18px
    text-transform: uppercase
.atr-pdp
    display: flex
    justify-content: center
    align-items: center
    background-color: #fff
    width: 61px
    margin-right: 12px
    margin-bottom: 12px
    height: 43px
    outline: 1px solid #0000002f
    border: 0.5px solid #0000002f
    cursor: pointer
    box-sizing: border-box
    &:hover
        background-color: #000
        color: #FFF
.atr-pdp-color
    width: 100%
    height: 100%
.atr-pdp-txt
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    font-weight: 600
    font-family: 'Source Sans Pro' 
    outline: 2px solid #000
.active-pdp-attr
    width: 100%
    text-align: center
    text-transform: capitalize
    font-family: 'Source Sans Pro' 
    line-height: 15px
    font-weight: 600
    outline: 2px solid #000
    background-color: #000
    color: #FFF
.price-pdp-c
    margin-top: 20px
.price-pdp-txt
    font-size: 18px
    line-height: 18px
    text-transform: uppercase
    font-weight: 600
    font-family: 'Roboto Condensed'
.product-symbol-pdp
    font-size: 20px
    font-family: Raleway
    font-weight: 700
.product-amount-pdp
    font-size: 20px
    font-family: Raleway
    font-weight: 700
.btnbuy-pdp-c
    margin-top: 20px
    height: 51px
    width: 100%
    max-width: 300px
.btnbuy-pdp
    outline: none
    border: none
    width: 100%
    height: 100%
    font-family: Raleway
    font-weight: bold
    color: #FFF
    text-transform: uppercase
    background-color: #5ECE7B
    cursor: pointer
.descr-pdp-c
    margin-top: 20px
    max-width: 300px
    font-family: Roboto
    font-weight: normal
    font-size: 16px
    line-height: 26px