html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    min-height: 100vh;
    min-width: 1440px;
}

.content-c {
    min-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    box-sizing: border-box;
}